# dependencies
node_modules/

# next.js
.next/
out/

# environment
.env
.env.local
.env.*.local

# uploads (keep placeholders + default template logo, ignore client uploads)
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/placeholder-*.jpg
!public/uploads/logo.svg

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# coverage
coverage/
